*
{
  cursor: url("/assets/images/cursors/cursor.gif"), auto;
}

a,button
{
  cursor: url("/assets/images/cursors/hover.gif"), auto;
}

input,textarea
{
  cursor: url("/assets/images/cursors/input.gif"), auto;
}