/* New fonts */
@font-face
{
  font-family: 'LXGWWenKaiMono Regular';
  src: url('/assets/fonts/LXGWWenKaiMono-Regular.woff2');
}

@font-face
{
  font-family: 'LXGWWenKai Regular';
  src: url('/assets/fonts/LXGWWenKai-Regular.woff2');
}
