@media screen and (max-width: 768px) {
  .pagination span.page-number.current
  {
    display:none !important;
  }
  .pagination a.page-number
  {
    display:none !important;
  }
  .pagination span.space
  {
    display:none !important;
  }
}