@media screen and (max-width: 768px) {
  span.page-number.current
  {
    display:none !important;
  }
  a.page-number
  {
    display:none !important;
  }
  span.space
  {
    display:none !important;
  }
}