[submodule "essay"]
	path = essay
	url = https://github.com/bllyds999/essay

[submodule "avatar"]
	path = avatar
	url = https://github.com/bllyds999/avatar

[submodule "saying"]
	path = saying
	url = https://github.com/bllyds999/saying